#error {
  // display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba($color: red, $alpha: .6);
  font-size: 12px;
  white-space:nowrap;
  z-index: 999;
  // opacity: 0;
  visibility:0;

}

#error.show {
  // opacity: 1;
  visibility:1;
  transition: all 1.2s
  
}