#error {
  // display: none;
  position: fixed;
  color: rgba($color: red, $alpha: 0);
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space:nowrap;
  z-index: 999;
  transition: all 1.2s
}

#error.show {
  color: rgba($color: red, $alpha: .6);
}