.nav {
    height: $nav-height;
    display: flex;
    a {
        flex: 1;
        line-height: $nav-height;
        font-size: 16px;
        color: rgba(0, 0, 0, .6);
        text-align: center;
    }
    .current {
        color: #31c27c;
    }
    .current:after {
        content: "";
        display: block;
        border-bottom: 2px solid #31c27c;
    }
}