.player-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: translateY(-200%);
    opacity: 0;
    &.show {
        opacity: 1;
        transform: translateY(0);
    }
    .player-wrap {
        z-index: 9;
        height: 100%;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);
        .player-header {
            position: relative;
            padding: 15px;
            display: flex;
            align-content: center;
            background-color: rgba($color: #000000, $alpha: .1);
            .album-cover {
                display: block;
                width: 80px;
                height: 80px;
            }
            .song-info {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 15px;
                line-height: 23px;
                .song-name {
                    font-size: 18px;
                    color: #ffffff;
                }
                .singer-name {
                    font-size: 14px;
                    color: #ffffff;
                }
            }
            .icon-play {
                background-image: url(../imgs/icon_play.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 50%;
                right: 25px;
                width: 43px;
                height: 43px;
                margin-top: -22px;
                border-radius: 999px;
                opacity: .6;
            }
            .icon-pause {
                background-image: url(../imgs/icon_play.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0px -44px;
                position: absolute;
                top: 50%;
                right: 25px;
                width: 43px;
                height: 43px;
                margin-top: -22px;
                border-radius: 999px;
                opacity: .6;
            }
        }
        .lyric {
            display: flex;
            margin: 36px 0 60px 0;
            height: 336px;
            justify-content: center;
            align-content: center;
            .lyric-wrap {
                min-height: 150px;
            }
        }
        .footer {
            position: relative;
            .icon {
                background-image: url(../imgs/sprite_play.png);
                background-repeat: no-repeat;
                background-size: 50px 380px;
                background-position: 15px -240px;
                position: absolute;
                top: -37px;
                right: 10px;
                width: 50px;
                height: 50px;
                margin-top: -22px;
            }
            .progress {
                display: flex;
                align-items: center;
                .progress-bar {
                    flex: 1;
                    background-color: rgba($color: #000000, $alpha: .2);
                    width: 100%;
                    overflow: hidden;
                    .progress-load {
                        flex: 1;
                        background-color: #31c27c;
                        width: 100%;
                        height: 2px;
                        transform: translateX(-100%);
                        transition-duration: 1s;
                    }
                }
                .time {
                    width: 55px;
                    font-size: 12px;
                    color: #ffffff;
                    text-align: center;
                    letter-spacing: 1px;
                    line-height: 40px;
                }
            }
            .btn {
                margin-top: 12px;
                width: 100%;
                height: 45px;
                line-height: 45px;
                padding: 0 55px;
                overflow: hidden;
                a {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    color: #fff;
                    font-size: 20px;
                    background-color: #31c27c;
                    white-space: nowrap;
                    border-radius: 999px;
                    text-align: center;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 6px;
                        top: 6px;
                        width: 33px;
                        height: 33px;
                        background-image: url(../imgs/sprite_play.png);
                        background-size: 40px 350px;
                        background-repeat: no-repeat;
                        background-position: 0px -300px;
                    }
                }
            }
        }
    }
    .bg-blur {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        background-size: cover;
        background-position: bottom center;
        filter: blur(13px);
        transform: scale(1.15); // background-image: url(https://y.gtimg.cn/music/photo_new/T002R150x150M000000RaqRb0KeXf0.jpg);
    }
}