.slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
    .slider-wrap {
        transition-duration: 500ms;
        display: flex;
        width: 500%;
    }
    .item {
        flex-basis: 100%;
        >a {
            img {
                display: block;
                width: 100%;
            }
        }
    }
}

.radio, .song-list {
    margin-bottom: 7px;
    margin-left: 10px;
    .title {
        font-size: $tit-size;
        color: #000;
        margin-bottom: 11px;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        .list-item {
            flex: 1;
            flex-basis: 40%;
            margin-right: 8px;
            margin-bottom: 10px;
            background-color: #ffffff;
            .list-media {
                position: relative;
                img {
                    width: 100%;
                }
            }
            .list-desc {
                padding: $list-padding;
                color: #000;
                .list-title {
                    height: 36px;
                    line-height: 18px;
                    font-size: $list-size;
                    white-space: normal;
                    word-wrap: break-word;
                }
            }
        }
    }
}

    .list-more {
        text-align: center;
        line-height: 40px;
        height: 40px;
        font-size: $list-size;
        a {
            display: block;
            padding: 0 10px;
            font-size: $list-size;
            color: rgba(0, 0, 0, .6);
        }
    }
