*{
    box-sizing: border-box;
}

body,div,h1,h2,h3,h4,h5,ul,li,p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: #000000;
}

ul li{
    list-style: none;
}

i{
    font-style: normal;
}
