// 存变量
$header-height: 44px;
$header-background: #31c27c;
$header-btn-background: #149c5a;

$logo-height: 25px;
$logo-width: 90px;

$nav-height: 40px;
$nav-background: #ffffff;


$tit-size: 16px;
$list-size: 14px;

$list-padding: 0 7px 5px;