@import "reset";
@import "var";
@import "rec";
@import "header";
@import "nav";

body{
    background-color: #f4f4f4
}

.container{
    >div{
        display: none;
    }
    .current{
        display: block;
    }
}