@import "reset";
@import "var";
@import "rec";
@import "header";
@import "nav";
@import "ranking";
@import "search";
@import "player";

body {
    background-color: #f4f4f4;
    // background-color: pink;
    font-family: FZLTXIHJW--GB1-0, "hiragino sans gb", "Helvetica Neue", Helvetica, STHeiTi, Arial;
}

.container {
    >div {
        display: none;
    }
    .current {
        display: block;
    }
}

